/* Color Reference
    background: #FFFFFF
    background-tinted: #00000066
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ffffff;
  background-color: #00000066;
}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 80%;
}
