:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-normal: var(--color-white);
    --background-color-normal: var(--color-black);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color-normal: var(--color-black);
    --background-color-normal: var(--color-white);
  }
}

html {
  color: var(--text-color-normal);
  background-color: var(--background-color-normal);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--background-color-normal);
  background-color: #FFFFFF66;
}
.modal-content {
  background-color: var(--background-color-normal);
  margin: auto;
  padding: 20px;
  width: 80%;
}
input {
  color: var(--text-color-normal);
  background-color: var(--background-color-normal);
}